.Placeholder__root {
  font-size: 15px;
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 8px;
  left: 28px;
  right: 28px;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  pointer-events: none;
}
.ContentEditable__root {
  border: 0;
  font-size: 15px;
  display: block;
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 8px 28px;
  min-height: calc(100% - 16px);
}
.shell {
  margin: 0 auto;
  /* border-radius: 2px; */
  max-width: 1100px;
  color: #000;
  position: relative;
  line-height: 1.7;
  font-weight: 400;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
}
.container {
  /* background: #fff; */
  position: relative;
  cursor: text;
  display: block;
  /* border-bottom-left-radius: 10px; */
  /* border-bottom-right-radius: 10px; */
}
.editor_scroller {
  min-height: 150px;
  border: 0;
  resize: none;
  cursor: text;
  display: block;
  position: relative;
  outline: 0;
  overflow: auto;
  /* resize: vertical; */
  /* max-height: 500px; */
}
.editor {
  height: 100%;
  position: relative;
}
.shell :global .typeahead_popover {
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-top: 25px;
}
.shell :global .typeahead_popover ul {
  padding: 0;
  list-style: none;
  margin: 0;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: scroll;
}
.shell :global .typeahead_popover ul::-webkit-scrollbar {
  display: none;
}
.shell :global .typeahead_popover ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.shell :global .typeahead_popover ul li {
  margin: 0;
  min-width: 180px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}
.shell :global .typeahead_popover ul :global li.selected {
  background: #eee;
}
.shell :global .typeahead_popover li {
  margin: 0 8px 0 8px;
  padding: 8px;
  color: #050505;
  cursor: pointer;
  line-height: 16px;
  font-size: 15px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 8px;
  border: 0;
}
.shell :global .typeahead_popover li.active {
  display: flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}
.shell :global .typeahead_popover li:first-child {
  border-radius: 8px 8px 0px 0px;
}
.shell :global .typeahead_popover li:last-child {
  border-radius: 0px 0px 8px 8px;
}
.shell :global .typeahead_popover li:hover {
  background-color: #eee;
}
.shell :global .typeahead_popover li :global .text {
  display: flex;
  line-height: 20px;
  flex-grow: 1;
  min-width: 150px;
}
.shell :global .typeahead_popover li :global .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.shell :global .component_picker_menu {
  width: 200px;
}
.shell :global .mentions_menu {
  width: 250px;
}
.shell :global .auto_embed_menu {
  width: 150px;
}
.shell :global .emoji_menu {
  width: 200px;
}
.shell :global i.palette {
  background-image: url(images/icons/palette.svg);
}
.shell :global i.bucket {
  background-image: url(images/icons/paint-bucket.svg);
}
.shell :global i.bold {
  background-image: url(images/icons/type-bold.svg);
}
.shell :global i.italic {
  background-image: url(images/icons/type-italic.svg);
}
.shell :global i.code {
  background-image: url(images/icons/code.svg);
}
.shell :global i.underline {
  background-image: url(images/icons/type-underline.svg);
}
.shell :global i.strikethrough {
  background-image: url(images/icons/type-strikethrough.svg);
}
.shell :global i.subscript {
  background-image: url(images/icons/type-subscript.svg);
}
.shell :global i.superscript {
  background-image: url(images/icons/type-superscript.svg);
}
.shell :global i.link {
  background-image: url(images/icons/link.svg);
}
.shell :global i.horizontal_rule {
  background-image: url(images/icons/horizontal-rule.svg);
}
.shell :global .icon.plus {
  background-image: url(images/icons/plus.svg);
}
.shell :global .icon.caret_right {
  background-image: url(images/icons/caret-right-fill.svg);
}
.shell :global .icon.dropdown_more {
  background-image: url(images/icons/dropdown-more.svg);
}
.shell :global .icon.font_color {
  background-image: url(images/icons/font-color.svg);
}
.shell :global .icon.font_family {
  background-image: url(images/icons/font-family.svg);
}
.shell :global .icon.bg_color {
  background-image: url(images/icons/bg-color.svg);
}
.shell :global i.image {
  background-image: url(images/icons/file-image.svg);
}
.shell :global i.table {
  background-image: url(images/icons/table.svg);
}
.shell :global i.close {
  background-image: url(images/icons/close.svg);
}
.shell :global i.figma {
  background-image: url(images/icons/figma.svg);
}
.shell :global i.poll {
  background-image: url(images/icons/card-checklist.svg);
}
.shell :global i.tweet {
  background-image: url(images/icons/tweet.svg);
}
.shell :global i.youtube {
  background-image: url(images/icons/youtube.svg);
}
.shell :global .icon.left_align,
.shell :global i.left_align {
  background-image: url(images/icons/text-left.svg);
}
.shell :global i.center_align {
  background-image: url(images/icons/text-center.svg);
}
.shell :global i.right_align {
  background-image: url(images/icons/text-right.svg);
}
.shell :global i.justify_align {
  background-image: url(images/icons/justify.svg);
}
.shell :global i.indent {
  background-image: url(images/icons/indent.svg);
}
.shell :global i.outdent {
  background-image: url(images/icons/outdent.svg);
}
.shell :global i.undo {
  background-image: url(images/icons/arrow-counterclockwise.svg);
}
.shell :global i.redo {
  background-image: url(images/icons/arrow-clockwise.svg);
}
.shell :global i.sticky {
  background-image: url(images/icons/sticky.svg);
}
.shell :global i.mic {
  background-image: url(images/icons/mic.svg);
}
.shell :global i.import {
  background-image: url(images/icons/upload.svg);
}
.shell :global i.export {
  background-image: url(images/icons/download.svg);
}
.shell :global i.diagram_2 {
  background-image: url(images/icons/diagram-2.svg);
}
.shell :global i.user {
  background-image: url(images/icons/user.svg);
}
.shell :global i.equation {
  background-image: url(images/icons/plus-slash-minus.svg);
}
.shell :global i.gif {
  background-image: url(images/icons/filetype-gif.svg);
}
.shell :global i.copy {
  background-image: url(images/icons/copy.svg);
}
.shell :global i.success {
  background-image: url(images/icons/success.svg);
}
.shell :global i.prettier {
  background-image: url(images/icons/prettier.svg);
}
.shell :global i.prettier_error {
  background-image: url(images/icons/prettier-error.svg);
}
.shell :global .link_editor .button.active,
.shell :global .toolbar .button.active {
  background-color: rgb(223, 232, 250);
}
.shell :global .link_editor .link_input {
  display: block;
  width: calc(100% - 24px);
  box-sizing: border-box;
  margin: 8px 12px;
  padding: 8px 12px;
  border-radius: 15px;
  background-color: #eee;
  font-size: 15px;
  color: rgb(5, 5, 5);
  border: 0;
  outline: 0;
  position: relative;
  font-family: inherit;
}
.shell :global .link_editor div.link_edit {
  background-image: url(images/icons/pencil-fill.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  vertical-align: -0.25em;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}
.shell :global .link_editor .link_input a {
  color: rgb(33, 111, 219);
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 30px;
  text-overflow: ellipsis;
}
.shell :global .link_editor .link_input a:hover {
  text-decoration: underline;
}
.shell :global .link_editor .font_size_wrapper,
.shell :global .link_editor .font_family_wrapper {
  display: flex;
  margin: 0 4px;
}
.shell :global .link_editor select {
  padding: 6px;
  border: none;
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 4px;
}
.shell :global .mention:focus {
  box-shadow: rgb(180 213 255) 0px 0px 0px 2px;
  outline: none;
}
/* .shell :global .block_controls {
  display: block;
  position: absolute;
  right: 10px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  top: 16px;
  z-index: 10;
  border-radius: 8px;
  border: 1px solid rgb(206, 208, 212);
  overflow: hidden;
} */
.shell :global .block_controls button {
  border: 1px solid white;
  background-color: #fff;
  display: block;
  transition: background-color 0.1s ease;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  padding: 3px;
}
.shell :global .block_controls button:hover {
  background-color: #efefef;
}
.shell :global .block_controls button:focus-visible {
  border-color: blue;
}
.shell :global .block_controls span.block_type {
  background-size: contain;
  display: block;
  width: 18px;
  height: 18px;
  margin: 2px;
}
.shell :global .block_controls span.block_type.paragraph {
  background-image: url(images/icons/text-paragraph.svg);
}
.shell :global .block_controls span.block_type.h1 {
  background-image: url(images/icons/type-h1.svg);
}
.shell :global .block_controls span.block_type.h2 {
  background-image: url(images/icons/type-h2.svg);
}
.shell :global .block_controls span.block_type.quote {
  background-image: url(images/icons/chat-square-quote.svg);
}
.shell :global .block_controls span.block_type.ul {
  background-image: url(images/icons/list-ul.svg);
}
.shell :global .block_controls span.block_type.ol {
  background-image: url(images/icons/list-ol.svg);
}
.shell :global .block_controls span.block_type.code {
  background-image: url(images/icons/code.svg);
}
.shell :global .characters_limit {
  color: #888;
  font-size: 12px;
  text-align: right;
  display: block;
  position: absolute;
  left: 12px;
  bottom: 5px;
}
.shell :global .characters_limit_exceeded {
  color: red;
}
.dropdown {
  z-index: 10;
  display: block;
  position: fixed;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  min-height: 40px;
  background-color: #fff;
}
.dropdown :global .item {
  margin: 0 8px 0 8px;
  padding: 8px;
  color: #050505;
  cursor: pointer;
  line-height: 16px;
  font-size: 15px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  border: 0;
  max-width: 250px;
  min-width: 100px;
}
.dropdown :global .item.fontsize_item,
.dropdown :global .item.fontsize_item .text {
  min-width: unset;
}
.dropdown :global .item .active {
  display: flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}
.dropdown :global .item:first-child {
  margin-top: 8px;
}
.dropdown :global .item:last-child {
  margin-bottom: 8px;
}
.dropdown :global .item:hover {
  background-color: #eee;
}
.dropdown :global .item .text {
  display: flex;
  line-height: 20px;
  flex-grow: 1;
  min-width: 150px;
}
.dropdown :global .item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 12px;
  line-height: 16px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.dropdown :global .divider {
  width: auto;
  background-color: #eee;
  margin: 4px 8px;
  height: 1px;
}
@media screen and (max-width: 1100px) {
  .shell :global .dropdown_button_text {
    display: none !important;
  }
  .shell :global .font_size .dropdown_button_text {
    display: flex !important;
  }
  .shell :global .code_language .dropdown_button_text {
    display: flex !important;
  }
}
.dropdown :global .icon.paragraph {
  background-image: url(images/icons/text-paragraph.svg);
}
.dropdown :global .icon.h1 {
  background-image: url(images/icons/type-h1.svg);
}
.dropdown :global .icon.h2 {
  background-image: url(images/icons/type-h2.svg);
}
.dropdown :global .icon.h3 {
  background-image: url(images/icons/type-h3.svg);
}
.dropdown :global .icon.h4 {
  background-image: url(images/icons/type-h4.svg);
}
.dropdown :global .icon.h5 {
  background-image: url(images/icons/type-h5.svg);
}
.dropdown :global .icon.h6 {
  background-image: url(images/icons/type-h6.svg);
}
.dropdown :global .icon.bullet_list,
.shell :global .icon.bullet {
  background-image: url(images/icons/list-ul.svg);
}
.dropdown :global .icon.check_list,
.shell :global .icon.check {
  background-image: url(images/icons/square-check.svg);
}
.dropdown :global .icon.numbered_list,
.shell :global .icon.number {
  background-image: url(images/icons/list-ol.svg);
}
.dropdown :global .icon.quote {
  background-image: url(images/icons/chat-square-quote.svg);
}
.dropdown :global .icon.code {
  background-image: url(images/icons/code.svg);
}
.shell :global .switches {
  z-index: 6;
  position: fixed;
  left: 10px;
  bottom: 70px;
  animation: slide-in 0.4s ease;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.shell :global .switch {
  display: block;
  color: #444;
  margin: 5px 0;
  background-color: rgba(238, 238, 238, 0.7);
  padding: 5px 10px;
  border-radius: 10px;
}
.shell :global .switch label {
  margin-right: 5px;
  line-height: 24px;
  width: 100px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.shell :global .switch button {
  background-color: rgb(206, 208, 212);
  height: 24px;
  box-sizing: border-box;
  border-radius: 12px;
  width: 44px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background-color 0.1s;
  border: 2px solid transparent;
}
.shell :global .switch button:focus-visible {
  border-color: blue;
}
.shell :global .switch button span {
  top: 0px;
  left: 0px;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background-color: white;
  transition: transform 0.2s;
}
.shell :global .switch button[aria-checked='true'] {
  background-color: rgb(24, 119, 242);
}
.shell :global .switch button[aria-checked='true'] span {
  transform: translateX(20px);
}
.shell :global span.editor_image {
  cursor: default;
  display: inline-block;
  position: relative;
  user-select: none;
}
.shell :global .editor_image img {
  max-width: 100%;
  cursor: default;
}
.shell :global .editor_image img.focused {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}
.shell :global .editor_image img.focused.draggable {
  cursor: grab;
}
.shell :global .editor_image img.focused.draggable:active {
  cursor: grabbing;
}
.shell :global .editor_image .image_caption_container {
  margin: 0;
  border-radius: 0;
}
.shell :global .editor_image .image_caption_container {
  display: block;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 100px;
  color: #000;
  overflow: hidden;
}
.shell :global .editor_image .image_caption_button {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 30%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 100px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}
.shell :global .editor_image .image_caption_button:hover {
  background-color: rgba(60, 132, 244, 0.5);
}
.shell :global .editor_image .image_resizer {
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: rgb(60, 132, 244);
  border: 1px solid #fff;
}
.shell :global .editor_image .image_resizer.image_resizer_n {
  top: -6px;
  left: 48%;
  cursor: n-resize;
}
.shell :global .editor_image .image_resizer.image_resizer_ne {
  top: -6px;
  right: -6px;
  cursor: ne-resize;
}
.shell :global .editor_image .image_resizer.image_resizer_e {
  bottom: 48%;
  right: -6px;
  cursor: e-resize;
}
.shell :global .editor_image .image_resizer.image_resizer_se {
  bottom: -2px;
  right: -6px;
  cursor: nwse-resize;
}
.shell :global .editor_image .image_resizer.image_resizer_s {
  bottom: -2px;
  left: 48%;
  cursor: s-resize;
}
.shell :global .editor_image .image_resizer.image_resizer_sw {
  bottom: -2px;
  left: -6px;
  cursor: sw-resize;
}
.shell :global .editor_image .image_resizer.image_resizer_w {
  bottom: 48%;
  left: -6px;
  cursor: w-resize;
}
.shell :global .editor_image .image_resizer.image_resizer_nw {
  top: -6px;
  left: -6px;
  cursor: nw-resize;
}
.shell :global .emoji {
  color: transparent;
  caret-color: rgb(5, 5, 5);
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 -1px;
}
.shell :global .emoji_inner {
  padding: 0 0.15em;
}
.shell :global .emoji_inner::selection {
  color: transparent;
  background-color: rgba(150, 150, 150, 0.4);
}
.shell :global .emoji_inner::moz-selection {
  color: transparent;
  background-color: rgba(150, 150, 150, 0.4);
}
.shell :global .emoji.happysmile {
  background-image: url(images/emoji/1F642.png);
}
.shell :global .emoji.veryhappysmile {
  background-image: url(images/emoji/1F600.png);
}
.shell :global .emoji.unhappysmile {
  background-image: url(images/emoji/1F641.png);
}
.shell :global .emoji.heart {
  background-image: url(images/emoji/2764.png);
}
.shell :global .keyword {
  color: rgb(241, 118, 94);
  font-weight: bold;
}
.shell :global .actions {
  position: absolute;
  text-align: right;
  padding: 10px;
  bottom: 0;
  right: 0;
}
/* .shell :global .link_editor .button i,  */
.shell :global .actions i {
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: -0.375em;
}
.shell :global i.indent {
  background-image: url(images/icons/indent.svg);
}
.shell :global i.outdent {
  background-image: url(images/icons/outdent.svg);
}
.shell :global i.lock {
  background-image: url(images/icons/lock-fill.svg);
}
.shell :global i.clear {
  background-image: url(images/icons/trash.svg);
}
.shell :global i.markdown {
  background-image: url(images/icons/markdown.svg);
}
.shell :global i.image {
  background-image: url(images/icons/file-image.svg);
}
.shell :global i.table {
  background-image: url(images/icons/table.svg);
}
.shell :global i.unlock {
  background-image: url(images/icons/lock.svg);
}
.shell :global i.left_align {
  background-image: url(images/icons/text-left.svg);
}
.shell :global i.center_align {
  background-image: url(images/icons/text-center.svg);
}
.shell :global i.right_align {
  background-image: url(images/icons/text-right.svg);
}
.shell :global i.justify_align {
  background-image: url(images/icons/justify.svg);
}
.shell :global i.disconnect {
  background-image: url(images/icons/plug.svg);
}
.shell :global i.connect {
  background-image: url(images/icons/plug-fill.svg);
}
.shell :global .table_cell_action_button_container {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
.shell :global .table_cell_action_button {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  position: relative;
  border-radius: 15px;
  color: #222;
  display: inline-block;
  cursor: pointer;
}
.shell :global i.chevron_down {
  background-color: transparent;
  background-size: contain;
  display: inline-block;
  height: 8px;
  width: 8px;
  background-image: url(images/icons/chevron-down.svg);
}
.shell :global .actions .action_button.active {
  background-color: #e92323;
}
.shell :global .actions .action_button.active:hover {
  background-color: #e92323;
}
.shell :global .actions .action_button.active i {
  filter: invert(1);
}
.shell :global .actions .action_button {
  background-color: #eee;
  border: 0;
  padding: 8px 12px;
  position: relative;
  margin-left: 5px;
  border-radius: 15px;
  color: #222;
  display: inline-block;
  cursor: pointer;
}
.shell :global .actions .action_button:hover {
  background-color: #ddd;
  color: #000;
}
.shell :global .actions .action_button_mic.active {
  animation: MicPulsateColor 3s infinite;
}
.shell :global .actions .action_button:disabled {
  opacity: 0.6;
  background: #eee;
  cursor: not-allowed;
}
@keyframes MicPulsateColor {
  0% {
    background-color: #ffdcdc;
  }
  50% {
    background-color: #ff8585;
  }
  100% {
    background-color: #ffdcdc;
  }
}
.shell :global .connecting {
  font-size: 15px;
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 10px;
  left: 10px;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  pointer-events: none;
}
.shell :global .ltr {
  text-align: left;
}
.shell :global .rtl {
  text-align: right;
}
.shell :global .toolbar {
  display: flex;
  /* margin-bottom: 1px; */
  /* background: #fff; */
  padding: 4px;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  vertical-align: middle;
  overflow: auto;
  height: 45px;
  border-bottom: black 1px solid;
}
.shell :global .toolbar button.toolbar_item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}
.shell :global .toolbar button.toolbar_item:disabled {
  cursor: not-allowed;
}
.shell :global .toolbar button.toolbar_item.spaced {
  margin-right: 2px;
}
.shell :global .toolbar button.toolbar_item i.format {
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}
.shell :global .toolbar button.toolbar_item:disabled .icon,
.shell :global .toolbar button.toolbar_item:disabled .text,
.shell :global .toolbar button.toolbar_item:disabled i.format,
.shell :global .toolbar button.toolbar_item:disabled .chevron_down {
  opacity: 0.2;
}
.shell :global .toolbar button.toolbar_item.active {
  background-color: rgba(223, 232, 250, 0.3);
}
.shell :global .toolbar button.toolbar_item.active i {
  opacity: 1;
}
.shell :global .toolbar .toolbar_item:hover:not([disabled]) {
  background-color: #eee;
}
.shell :global .toolbar .toolbar_item.font-family .text {
  display: block;
  max-width: 40px;
}
.shell :global .toolbar .code_language {
  width: 150px;
}
.shell :global .toolbar .toolbar_item .text {
  display: flex;
  line-height: 20px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
  text-align: left;
  padding-right: 10px;
}
.shell :global .toolbar .toolbar_item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}
.shell :global .toolbar i.chevron_down {
  margin-top: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  user-select: none;
}
.shell :global .toolbar i.chevron_down.inside {
  width: 16px;
  height: 16px;
  display: flex;
  margin-left: -25px;
  margin-top: 11px;
  margin-right: 10px;
  pointer-events: none;
}
.shell :global .toolbar .divider {
  width: 1px;
  background-color: #eee;
  margin: 0 4px;
}
.shell :global .excalidraw_button {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.shell :global .excalidraw_button.selected {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}
.shell :global .spacer {
  letter-spacing: -2px;
}
.dropdown :global button.item i {
  opacity: 0.6;
}
.dropdown :global button.item.dropdown_item_active {
  background-color: rgba(223, 232, 250, 0.3);
}
.dropdown :global button.item.dropdown_item_active i {
  opacity: 1;
}
.shell :global hr {
  padding: 2px 2px;
  border: none;
  margin: 1em 0;
  cursor: pointer;
}
.shell :global hr:after {
  content: '';
  display: block;
  height: 2px;
  background-color: #ccc;
  line-height: 2px;
}
.shell :global hr.selected {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}
.TableNode__contentEditable {
  min-height: 20px;
  border: 0px;
  resize: none;
  cursor: text;
  display: block;
  position: relative;
  tab-size: 1;
  outline: 0px;
  padding: 0;
  user-select: text;
  font-size: 15px;
  white-space: pre-wrap;
  word-break: break-word;
  z-index: 3;
}
.shell :global .link_editor {
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 400px;
  width: 100%;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  transition: opacity 0.5s;
  will-change: transform;
}
/* .shell :global .link_editor .button {
  width: 20px;
  height: 20px;
  display: inline-block;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 2px;
} */
/* .shell :global .link_editor .button.hovered {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #eee;
} */
