@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .badge-icon {
    @apply flex h-5 w-5 scale-90 justify-center !important;
  }
  .card-detail-window {
    @apply top-12 !important;
  }
  .card-detail-window > .ant-modal-content {
    @apply rounded-[3px] bg-[var(--ds-surface-overlay,#f4f5f7)] p-0 !important;
  }
  .card-detail-window > .ant-modal-content > .ant-modal-close {
    @apply top-0 right-0 m-1 h-10 w-10 rounded-[50%] p-1 !important;
  }
}

/* Fix width for truncate */
.ant-dropdown-menu-title-content {
  width: 100%;
}

.ant-avatar-group-popover .ant-popover-inner-content > a {
  display: inline-block;
  /* margin-bottom: 2px; */
}
.ant-avatar-group-popover .ant-popover-inner-content > a:not(:first-child) {
  margin-inline-start: -2px;
}
.ant-avatar-group-popover .ant-avatar {
  border: 0 !important;
}
/* для кнопки "+n", которая открывает popup */
.ant-avatar-group > .ant-avatar {
  border-color: transparent !important;
  cursor: pointer;
}
.ant-avatar-group > a > .ant-avatar {
  border: 0 !important;
}
.ant-avatar-group > :not(:first-child) {
  margin-inline-start: -2px !important;
}
/* FIX: при переносе на второй ряд */
.ant-avatar-group-popover .ant-avatar + .ant-avatar {
  margin-inline-start: 0px !important;
}

/* FIX: для #board-main-content */
.ant-drawer-content-wrapper {
  transition-timing-function: ease-in !important;
}

/* FIX: как добавить тень и избавиться от маски */
.search-modal {
  /* overflow: unset !important;
  position: fixed !important;
  top: 0 !important;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  bottom: auto !important;
  right: auto !important; */
  pointer-events: none;
}
.search-modal .search-results {
  position: relative;
}
.search-modal .search-results::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0px;
  border-radius: 3px;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}

.ant-btn:not(.outline-none) {
  outline: revert !important;
}

.ant-btn.outline-none {
  outline: none !important;
  transition: none !important;
}

.ant-btn.outline-none:focus {
  box-shadow: 0 0 0 2px var(--ds-border-focused, #2684ff) !important;
}

.body-dark-board-background {
  --board-header-background-color: #0000003d;
}

/* Fix of vertical-align: -0.125em; */
.anticon {
  vertical-align: unset !important;
}
.ant-btn {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}
.ant-modal-close-x {
  display: inline-flex !important;
  height: 100%;
  align-items: center;
}

html {
  text-size-adjust: 100%;
}

#__next {
  height: 100%;
  /* overflow: hidden; */
}

#nocss {
  display: none;
}

/* fix border */
.ant-input {
  border-width: 0 !important;
}
.ant-input:focus {
  box-shadow: inset 0 0 0 2px var(--ds-border-focused, #0079bf) !important;
}

/* base font */
body,
button,
html,
input,
select,
textarea {
  color: var(--ds-text, #172b4d);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: 400;
}

/* FIX: RBD */
body {
  overflow-y: hidden;
  /* https://github.com/atlassian/react-beautiful-dnd/issues/131#issuecomment-1144736558 */
}

body::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: #1d212e;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(223, 232, 250, 0.5);
  border-radius: 8px;
}

body::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: red;
  /* margin-left: 200px; */
}

/* Lexical */
body {
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* fix Compass */
blockquote {
  border-left-style: solid;
}

/* Compass */
/* 
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  touch-action: manipulation;
}
*/

/* Default NextJS */
/*
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  } 
}
*/
