@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bellota';
  font-style: normal;
  font-weight: 400;
  /* woff2 - Chrome 36+, Opera 23+, Firefox 39+ */
  /* woff - Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  src:
    url('/fonts/bellota-v16-cyrillic_latin-regular.woff2') format('woff2'),
    url('/fonts/bellota-v16-cyrillic_latin-regular.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .badge-icon {
    @apply flex h-5 w-5 scale-90 justify-center !important;
  }
  .card-detail-window {
    @apply top-12 !important;
  }
  .card-detail-window > .ant-modal-content {
    @apply overflow-auto rounded-[3px] bg-[var(--ds-surface-overlay,#f4f5f7)] p-0 !important;
  }
  .card-detail-window > .ant-modal-content > .ant-modal-close {
    @apply right-0 top-0 m-1 h-10 w-10 rounded-[50%] p-1 text-[var(--ds-icon,#42526e)] hover:bg-[var(--ds-background-neutral,#091e4214)] active:bg-[var(--ds-background-neutral-hovered,#091e4240)] !important;
  }
  .extras-button-form .ant-form-item-label {
    @apply pb-1 leading-4 !important;
  }
  .extras-button-form .ant-form-item {
    @apply mb-5 !important;
  }
  .root .ant-form-item-label > label {
    @apply text-xs font-semibold text-[var(--ds-text-subtle,#5e6c84)] !important;
  }
  .root .ant-form-item .ant-form-item-explain {
    @apply text-xs !important;
  }
  .board-title {
    @apply my-[6px] text-[16px] font-semibold leading-5 !important;
  }
  .horizontal-divider {
    @apply border-[var(--ds-border,#091e4221)] !important;
  }
  .is-mouse-first .card {
    @apply hover:bg-[var(--ds-surface-raised-hovered,#f4f5f7)] !important;
  }
}

.action-image-preview {
  box-shadow: 0 0 0 1px var(--ds-border, #dfe1e6);
}

.action-image-preview:hover {
  box-shadow: 0 0 0 1px var(--ds-border, #a5adba);
}

.action-comment {
  box-shadow: var(
    --ds-shadow-raised,
    0 1px 2px -1px #091e4240,
    0 0 0 1px var(--ds-border, #091e4214)
  );
}

.comment-box.is-focused {
  box-shadow: var(
    --ds-shadow-overlay,
    0 4px 8px -2px #091e4240,
    0 0 0 1px var(--ds-border, #091e4214)
  );
}
.comment-box:not(.is-focused):not(:hover) {
  box-shadow: var(
    --ds-shadow-raised,
    0 1px 2px -1px #091e4240,
    0 0 0 1px var(--ds-border, #091e4214)
  );
}
.comment-box:not(.is-focused):hover {
  box-shadow: var(--ds-shadow-raised, 0 1px 1px #091e4240, 0 0 0 1px var(--ds-border, #091e4214));
}

.card-back-archive-banner {
  background-color: var(--ds-background-warning, #fdfae5);
  background-image: linear-gradient(
    to bottom right,
    var(--ds-background-neutral, rgba(0, 0, 0, 0.05)) 25%,
    transparent 25%,
    transparent 50%,
    var(--ds-background-neutral, rgba(0, 0, 0, 0.05)) 50%,
    var(--ds-background-neutral, rgba(0, 0, 0, 0.05)) 75%,
    transparent 75%,
    transparent
  );
  background-size: 14px 14px;
}

.description-content-fade-button {
  background-image: linear-gradient(180deg, #0000 0, #0000 370px, #f4f5f7 410px);
  background-position: 50% 0;
  background-repeat: no-repeat;
  transition: background 0.1s ease-in;
}

.description-content-fade-button:hover {
  background-position: 50% 15px;
}

/* .u-clearfix::after {
  clear: both;
  content: '';
  display: table;
} */

.ant-avatar-sm {
  width: 28px !important;
  height: 28px !important;
  line-height: 26px !important;
}

/* .card-detail-window > .ant-modal-content::after {
  clear: both;
  content: '';
  display: table;
} */

/* Fix width for truncate */
.ant-dropdown-menu-title-content {
  width: 100% !important;
}

.ant-avatar-group-popover .ant-popover-inner-content > a {
  display: inline-block !important;
  /* margin-bottom: 2px; */
}
.ant-avatar-group-popover .ant-popover-inner-content > a:not(:first-child) {
  margin-inline-start: -2px !important;
}
.ant-avatar-group-popover .ant-avatar {
  border: 0 !important;
}
/* для кнопки "+n", которая открывает popup */
.ant-avatar-group > .ant-avatar {
  border-color: transparent !important;
  cursor: pointer;
}
.ant-avatar-group > button > .ant-avatar {
  border: 0 !important;
}
.ant-avatar-group > :not(:first-child) {
  margin-inline-start: -2px !important;
}
/* FIX: при переносе на второй ряд */
.ant-avatar-group-popover .ant-avatar + .ant-avatar {
  margin-inline-start: 0px !important;
}

/* FIX: для #board-main-content */
.ant-drawer-content-wrapper {
  transition-timing-function: ease-in !important;
}

/* FIX: как добавить тень и избавиться от маски */
.search-modal {
  /* overflow: unset !important;
  position: fixed !important;
  top: 0 !important;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  bottom: auto !important;
  right: auto !important; */
  pointer-events: none;
}
.search-modal .search-results {
  position: relative;
}
.search-modal .search-results::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0px;
  border-radius: 3px;
  box-shadow:
    0 6px 16px 0 rgb(0 0 0 / 8%),
    0 3px 6px -4px rgb(0 0 0 / 12%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}

.ant-btn:not(.outline-none) {
  outline: revert !important;
}

.ant-btn.outline-none {
  outline: none !important;
  transition: none !important;
}

.ant-btn.outline-none:focus {
  box-shadow: 0 0 0 2px var(--ds-border-focused, #2684ff) !important;
}

.body-dark-board-background {
  --board-header-background-color: #0000003d;
}

/* Fix of vertical-align: -0.125em; */
.anticon {
  /* vertical-align: unset !important; */
  vertical-align: 0.08em !important;
}
.ant-btn {
  /* display: inline-flex !important; */
  /* align-items: center; */
  /* not !important */
}
.ant-btn-icon-only {
  /* justify-content: center; */
}

.ant-modal-close-x {
  display: inline-flex !important;
  height: 100% !important;
  align-items: center !important;
}

html {
  text-size-adjust: 100%;
}

#__next {
  height: 100%;
  /* overflow: hidden; */
}

#nocss {
  display: none;
}

/* fix border */
.ant-input {
  border-width: 0 !important;
}
.ant-input:not(.ant-input-borderless) {
  box-shadow: inset 0 0 0 2px var(--ds-border-input, #dfe1e6) !important;
}
.ant-input:focus:not(.focus-borderless) {
  box-shadow: inset 0 0 0 2px var(--ds-border-focused, #0079bf) !important;
}
.input-border-focused {
  box-shadow: inset 0 0 0 2px var(--ds-border-focused, #0079bf) !important;
}
.input-border {
  box-shadow: inset 0 0 0 1px var(--ds-border-input, #091e4221) !important;
}

/* base font */
body,
button,
input,
select,
textarea {
  color: var(--ds-text, #172b4d);
  font-family: 'Bellota';
  /* HACK: использую такие же шрифты, как в antd */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif; */
  font-weight: 400;
}

/* FIX: RBD */
body {
  /* width: unset; /* https://stackoverflow.com/a/49852675/4315996 */
  /* overflow-y: hidden; */
  /* https://github.com/atlassian/react-beautiful-dnd/issues/131#issuecomment-1144736558 */
}
/* body::-webkit-scrollbar {
  width: 16px;
  height: 32px;
  background: #1d212e;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(223, 232, 250, 0.5);
  border-radius: 80px;
  background-clip: content-box;
  border: 10px solid transparent;
}
body::-webkit-scrollbar-track {
  border-radius: 80px;
  background-color: green;
  border: 10px solid #1d212e;
  margin-left: 100px;
  margin-right: 100px;
} */

body > .os-scrollbar {
  z-index: unset !important;
}

/* как спрятать системный скролл */
.hide-system-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-system-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* overlayscrollbars */
.os-scrollbar-horizontal.board.has-menu {
  margin-right: var(--menu-width);
}

.os-scrollbar-vertical.list-cards {
  margin-bottom: var(--column-footer-height);
}

.os-theme-light.board {
  /* // The size of the scrollbar */
  --os-size: 28px;
  /* // The axis-perpedicular padding of the scrollbar (horizontal: padding-y, vertical: padding-x) */
  --os-padding-perpendicular: 8px;
  /* // The axis padding of the scrollbar (horizontal: padding-x, vertical: padding-y) */
  --os-padding-axis: 24px;
  /* // The border radius of the scrollbar track */
  --os-track-border-radius: 4px;
  /* // The background of the scrollbar track */
  --os-track-bg: #00000026;
  /* // The :hover background of the scrollbar track */
  --os-track-bg-hover: #00000026;
  /* // The :active background of the scrollbar track */
  --os-track-bg-active: #00000026;
  /* // The border of the scrollbar track */
  --os-track-border: none;
  /* // The :hover background of the scrollbar track */
  --os-track-border-hover: none;
  /* // The :active background of the scrollbar track */
  --os-track-border-active: none;
  /* // The border radius of the scrollbar handle */
  --os-handle-border-radius: 4px;
  /* // The background of the scrollbar handle */
  --os-handle-bg: rgba(255, 255, 255, 0.4);
  /* // The :hover background of the scrollbar handle */
  --os-handle-bg-hover: rgba(255, 255, 255, 0.4);
  /* // The :active background of the scrollbar handle */
  --os-handle-bg-active: rgba(255, 255, 255, 0.4);
  /* // The border of the scrollbar handle */
  --os-handle-border: none;
  /* // The :hover border of the scrollbar handle */
  --os-handle-border-hover: none;
  /* // The :active border of the scrollbar handle */
  --os-handle-border-active: none;
  /* // The min size of the scrollbar handle */
  --os-handle-min-size: 33px;
  /* // The max size of the scrollbar handle */
  --os-handle-max-size: none;
  /* // The axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width) */
  --os-handle-perpendicular-size: 100%;
  /* // The :hover axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width) */
  --os-handle-perpendicular-size-hover: 100%;
  /* // The :active axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width) */
  --os-handle-perpendicular-size-active: 100%;
  /* // Increases the interactive area of the scrollbar handle. */
  --os-handle-interactive-area-offset: 0;
}

.os-theme-light.list-cards {
  --os-size: 7px;
  --os-handle-interactive-area-offset: 1px;
  --os-padding-axis: 0;
  --os-padding-perpendicular: 0;
  --os-handle-bg: rgba(0, 0, 0, 0.3);
  --os-handle-bg-hover: rgba(0, 0, 0, 0.4);
  --os-handle-bg-active: rgba(0, 0, 0, 0.5);
}

/* Lexical */
body {
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* fix Compass */
blockquote {
  border-left-style: solid;
}

/* Compass */
/*
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  touch-action: manipulation;
}
*/

/* Default NextJS */
/*
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/
